# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/
.pytest_cache/
.eslintcache
.next/

# Environments
.venv/
env/
venv/
ENV/
.env

# Database
*.sqlite3
data_storage/

# Media & Static
media/
staticfiles/
static/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
